.container {
    display: flex;
    justify-content: center;
    background-color: #E4FDE1;
    width: 100%;
    height: 100vh;
}

.login-card {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 32px;
    background-color: #C0E6C2; 
    border-radius: 8px;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-card h1 {
    margin-bottom: 0px;
    font-weight: bold;
    color: #141115;
}

.secondary-text {
    color: #555;
}

.login-card input {
    width: calc(75% - 40px);
    height: 40px;
    margin: 40px 0px 20px 0px;
    padding: 0px 20px;
    border-radius: 8px;
    border: none;
    background-color: #ffffffbd;
}

.sign-in-btn {
    background-color: #CF995F;
    width: 75%;
    height: 60px;
    padding: 10px 12px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


